[2017-08-25 07:42] mpe85 opened #3 "ClassJavadoc#getName() should return the class name"
I would expect `ClassJavadoc#getName()` to return the class name, just like `MethodJavadoc#getName()` returns the method name.
But currently it always returns the string "whatever".

[2017-08-25 18:06] dnault commented on #3
Thanks for the report.

Initial investigation: culprit appears to be `JavadocParser.parseClassJavadoc`. I don't think the class name is available inside that method, so it will need to be passed in.

[2017-08-26 19:41] dnault commented on #3
Fixed in v0.2.1 (just released).

[2017-08-26 19:41] #3 closed

[2018-03-06 15:25] joffrey-bion opened #4 "Allow the use of a package whitelist instead of annotating on each class"
Annotating every class with `@RetainJavadoc` can be really cumbersome depending on the use case, especially when there are a lot of classes involved.

In particular, it is impractical when we want to keep the Javadoc for all classes in a package because of the semantics of the package, and not of each individual class (e.g. model classes in the model package). If we often create new classes there,

[2018-03-06 23:11] dnault commented on #4
Hi Joffrey,

Today you can apply the `@RetainJavadoc` annotation to an entire package like this:

`File: com/example/mypackage/package-info.java`

    @RetainJavadoc
    package com.example.mypackage;

    import com.github.therapi.runtimejavadoc.RetainJavadoc;

This works fine for clean builds, but is not reliable for incremental compilation. If I recall correctly, the issue was that the annotati

[2018-03-07 02:02] joffrey-bion commented on #4
Hi @dnault, thanks for the quick reply!

I didn't know about the `package-info.java` trick, thanks for pointing that out!
If you really want to handle incremental builds, my initial resource file proposition should work.

Also, I am using your lib in the context of a doc generator that is able to read javadoc. In this context, I'm not sure I prefer forcing the user to create `package-info` files o

[2018-03-10 11:42] joffrey-bion opened #5 "Provide RuntimeJavadoc.getJavadoc(Method)"
Currently, there is no way to directly get the doc for a method, and this is not a trivial thing to do with the current API, because you have to:
- get the `ClassJavadoc` of the declaring class of the method
- get the list of `MethodJavadoc`s for that class
- find the doc of the method among this list <= HARD!

The last bit is really not trivial, because the method name is not sufficient to find t

[2018-03-10 22:48] #5 closed

[2018-03-10 23:33] dnault commented on #4
Hi @joffrey-bion,

The only reason for the `@RetainJavadoc` annotation is that I didn't realize an annotation processor can access elements that are not annotated in any way (silly me... just learned it isn't true, and that all the classes being compiled are accessible via `RoundEnvironment.getRootElements()`).

Would it be okay for your project if Javadac were retained for *every* class, or do yo

[2018-03-11 00:43] joffrey-bion commented on #4
Hi @dnault,

I believe users in general don't want to bundle the Javadoc of all classes in their class files, that would significantly and unnecessarily increase the size of their jars/wars.
The annotation approach is nice, and the whitelist option could be a good complement to it.

If you want to support including all Javadocs of all classes, maybe it would be best to somehow enable that behaviou

[2018-03-11 00:45] joffrey-bion opened #7 "Separate the annotation processor from the runtime library"
It would be nice to have 2 separate artifacts for the annotation processor used at compile time VS the library used at runtime to access the javadoc.
Gradle 5.0 will disable annotation processor that are on the compile classpath, and thus prevent the use of this library if not split (or force the user to include it twice).

[2018-03-11 01:46] dnault commented on #4
Reliably locating a resource file is turning out to be difficult.

It's possible to pass options to the processor on the javac command line with the `-Akey[=value]` switch. For Gradle it might look like:

    tasks.withType(JavaCompile) {
        options.compilerArgs << "-Ajavadoc.packages=com.example,org.example"
    }

I hear what you're saying about file size concerns. I'm leaning towards inclu

[2018-03-11 09:38] joffrey-bion commented on #4
I see your point.
I also like the plug-and-play aspect, and I'm not fond of having to tweak my Gradle compile args just get a simple result I expect.

So maybe all classes by default is the way to go after all. Would that really be "all classes", or would it only be user classes. For instance, does an annotation processor get ‘java.util.List‘ as input as well during compilation?

[2018-03-11 20:19] dnault commented on #4
Only user classes. Annotation processor only sees the files that are being compiled from source.

[2018-03-12 02:49] #7 closed

[2018-03-12 02:55] dnault commented on #4
Resolved in d651f2c04ed810fe9784d374f0b782e288deea4b

[2018-03-12 02:55] #4 closed

[2018-03-12 17:14] dnault opened #8 "Don't generate companion class if there is no Javadoc"
If a class doesn't have any Javadoc, there's not much point in generating a companion class.

[2018-03-12 17:19] joffrey-bion opened #9 "Link therapi-runtime-javadoc-scribe to JCenter"
I see that the new artifact for the annotation processor is not linked to JCenter. Just pointing that out in case you didn't already request the inclusion.
Thanks a lot for the very quick response regarding the artifact separation by the way!

[2018-03-12 17:25] dnault commented on #9
Thanks for the reminder. I requested inclusion last night, but I guess a human on the other end has to do a review and click a button.

I also applied for the `com.github.therapi` groupId on Maven Central, so hopefully the artifacts will be available there eventually.

[2018-03-12 18:21] joffrey-bion commented on #9
Great news! Yes maven central is a hassle, I've been down this road!
But once it's done, it's pretty comfortable, especially for maven users.
Thanks again !

[2018-03-12 19:30] #9 closed

[2018-03-13 01:26] #8 closed

[2018-03-13 04:08] dnault opened #10 "Write Javadoc to class path resources instead of Java classes"
Create smaller JARs by writing the Javadoc as JSON class path resources.

[2018-03-13 04:10] #10 closed

[2018-04-08 16:35] joffrey-bion opened #11 "Add support for fields' Javadoc"
I just realized we couldn't access the Javadoc of a class's fields, or did I just miss it somewhere?
Anyway, I believe this feature would be very useful, and not too hard to add given the existing structure I believe.

[2018-04-08 21:54] dnault commented on #11
You are correct, this is not currently supported. Is it something you're interested in working on?

[2018-04-08 22:14] joffrey-bion commented on #11
I'm not sure I'll have time this week, but I'll give it a try if I have a spare evening, either this week or the next.

[2018-04-18 12:14] joffrey-bion opened #12 "NullPointerException in RuntimeJavadoc due to null ClassLoader"
Here is the stacktrace I got when using [Livedoc](https://github.com/joffrey-bion/livedoc) v4.3.2 which uses therapi-runtime-javadoc 0.4.0:

[code]

It looks like `RuntimeJavadoc` crashes at line 41:

[code]

My bet is that the classloader is null, which is possible as the doc states:

One solution would be to directly use the `getResourceAsStream()` method on the class itself rather than on its C

[2018-04-18 13:36] joffrey-bion opened #13 "Why the shadow plugin?"
It looks like the purpose of the shadow plugin is to build a fat jar. I believe this is only desirable when packaging an end-user application that needs runtime dependencies.
A library, on the other hand, is used within a build system, and its dependencies will be fetched via standard transitive deps resolution.

Is there a particular reason why you're using this plugin for your lib?

[2018-04-19 18:33] dnault commented on #13
Packaging an end-user application is certainly one good use of the Shadow plugin. Another is to embed library dependencies in order to avoid dependency conflicts.

The concern is that a project using therapi-runtime-javadoc may depend on an incompatible version of minimal-json. By repackaging the dependency (not just merging the JARs, but moving the minimal-json classes into a new package) the pos

[2018-04-19 18:33] #13 closed

[2018-04-19 19:03] dnault commented on #12
Thanks!

[2018-04-19 19:03] #12 closed

[2018-04-20 17:38] joffrey-bion commented on #11
I started working on the feature, but I felt like some refactoring was calling.
Would you be opposed to a change that reorganizes the annotation processor's code?

[2018-04-22 16:40] dnault commented on #11
Refactoring sounds good. Go for it.

[2018-04-23 04:33] dnault commented on #11
This evening Simon Kissane submitted a [PR to add support for enum constants](https://github.com/dnault/therapi-runtime-javadoc/pull/14). Might make sense to delay refactoring until it goes in?

[2018-04-23 04:43] dnault commented on #11
Hmmm... I see you're addressing enum constants too. Does your change makes Simon's PR redundant?

[2018-04-23 06:14] joffrey-bion commented on #11
I believe it does make Simon's PR redundant. Although I could make use of the tests they have added regarding enums. I'm almost done in fact. Just missing decent tests for the fields now.

[2018-04-28 19:51] #11 closed

[2018-04-28 21:13] joffrey-bion commented on #11
Thanks for merging!

[2018-04-28 22:06] joffrey-bion opened #16 "0.5.0 artifacts missing from Maven Central"
It looks like 0.5.0 were not synced between JCenter and Maven Central, because I can only access 0.4.0 on Maven Central, while JCenter has the last version.

It looks like your bintray plugin config in Gradle is set up with disabled sync to Maven Central. It would probably make things easier to deploy if you just activated the sync from there.

[2018-04-28 23:13] joffrey-bion opened #17 "Add links and tags elements to Comment"
It looks like the `Comment` and `CommentFormatter` classes have been designed to support the multiple elements we can find in javadoc comments.
However, all I can find is a single `CommentText` node containing the whole Javadoc comment.

It would be nice to finish this feature so that users can make use of the `CommentFormatter`.

[2018-04-28 23:41] dnault commented on #16
Really? That's strange. The sync from JCenter was successful, and the artifacts seem to be present in the Maven Central repo:

https://search.maven.org/#search%7Cga%7C1%7Ctherapi-runtime-javadoc

http://repo.maven.apache.org/maven2/com/github/therapi/therapi-runtime-javadoc/0.5.0/
http://repo.maven.apache.org/maven2/com/github/therapi/therapi-runtime-javadoc-scribe/0.5.0/

They haven't been mirror

[2018-04-28 23:42] dnault commented on #16
That's a good tip about enabling the sync feature in the bintray plugin, thanks.

[2018-04-29 01:27] joffrey-bion commented on #16
Interesting, I guess when I first tried to pull the artifacts, it might have been too early, hence the error I got from fetching the dependency.
Then, I was checking the presence of the 0.5.0 there:
https://mvnrepository.com/artifact/com.github.therapi/therapi-runtime-javadoc

But I didn't attempt any more downloads from Central. I confirm the artifacts are there, but are still not indexed by mvnr

[2018-04-29 01:27] #16 closed

[2018-04-29 22:34] #17 closed

[2018-05-02 23:48] joffrey-bion commented on #17
Hi David, any target date for the 0.6.0 release with this feature?

[2018-05-03 05:35] dnault commented on #17
@joffrey-bion  I can do it tomorrow if that works for you. Let me know.

[2018-05-03 07:17] joffrey-bion commented on #17
I'm in no rush, but that would be very nice ! Thanks :)

[2018-05-16 21:48] joffrey-bion opened #20 "Provide the fully qualified class name in Link elements"
For now, the class name provided in `Link` elements is taken directly from the Javadoc's text. This is barely usable to actually find the corresponding class/method.
It would be nice to find a way to actually read the corresponding fully qualified class name from the imports, so that we can provide the actual `Class<?>`/`Method` object at runtime.

[2018-07-24 12:13] canatoly opened #21 "@throws never parsed as ThrowsJavadoc"
MethodJavadoc constructor always received empty lists of "exceptions" and "seeAlso"

please complete
com.github.therapi.runtimejavadoc.internal.parser.JavadocParser#parseMethodJavadoc
method or give a way to substitute with custom implementation

thanx

[2018-08-09 18:43] dnault commented on #21
Hi @canatoly , thanks for the report. I plan to take a look at this soon. My day job has been keeping me *very* busy lately, but hopefully I will have more time in a few weeks. In the mean time, let's experiment with the "help wanted" tag and see if any helpful elves appear :-)

[2018-08-26 17:18] bbottema opened #22 "Make this available in Java 7"
I would love to use this library in my own open source library [Simple Java Mail](https://github.com/bbottema/simple-java-mail), but I'm restricted to Java 7 and your library is out of reach because of that. Is it possible to make this library available to Java 7? I know what a pain it is to not be able to use Java 8 for my own library, but since Java 7 is still is use with a significant number I

[2018-08-27 08:07] dnault commented on #22
Hi Benny. I'm open to this idea. Not sure what to do about the public API, which uses java.util.Optional.

[2018-08-27 08:24] bbottema commented on #22
I'm afraid there is no elegant solution for that, it's a breaking change for sure. Best thing you can do for that is include your own version of just the Optional class. Current users would only have to update their imports.

[2018-08-27 18:45] bbottema commented on #22
I was just looking into converting Optional for Java 7, but it is not a trivial task. I think the better option would be to use [Guava v20](https://github.com/google/guava/releases/tag/v20.0)'s battle-tested [Optional version](https://github.com/google/guava/blob/c462d69329709f72a17a64cb229d15e76e72199c/guava/src/com/google/common/base/Optional.java) or shade/shadow in something like https://githu

[2018-09-01 21:24] dnault commented on #22
Thank you, Benny!

[2018-09-02 04:59] dnault commented on #22
Hi Benny,

Version 0.7.0 now is available on Maven Central with support for Java 7.

I ended up dodging the `@Nullable` issue by using the Null Object pattern; instead of returning null, it now returns a dummy object that models absent Javadoc.

In the project where I use this library, this change actually lead to *simpler* code than using `Optional`... so that's pretty cool. Let me know how it wo

[2018-09-20 19:20] bbottema opened #24 "Link misses information to find class types"
I'm trying to locate the actual Method object referenced by the Link.

Is it possible when creating Link objects to include the package relevant to the classname being referenced? Either the package is included in the class name itself, or the package comes from an import. It would take some trickery for sure, but the information could be very useful in runtime.

[code]

Alternatively, you could a

[2018-09-21 15:50] bbottema opened #25 "InlineLink doesn't work for links starting with hash '#'"
The following link is not recognized and made part of the (preceding) CommentText instead:

[code]

[2018-09-21 16:37] dnault commented on #24
Duplicate of #20.

Agreed, this is a real problem. The challenge is that there doesn't seem to be a standard way to get the imports.

[2018-09-21 16:37] #24 closed

[2018-09-22 18:57] bbottema opened #27 "Parameter lists in @Link are not parsed properly"
Parameter lists (ie `{@link ClassName#someMethod(String, Integer) label}`), are not parsed properly, resulting in a member of "_someMethod(String,_ " and a label of _", Integer) label_" or sometinhg similar.

Member parameter lists should be parsed properly. At the same time, it would be good if the parameter list was stored on Link as an array instead of a single string.

[2018-09-22 19:00] bbottema commented on #27
I implemented the following regex to completely parse all the (optional) parts of a `@link`:

`^(?<classname>[\w\.]+)?(?:#(?<member>\w+))?(?:\((?<params>.*)\))?(?:\s(?<label>\w+(?:\s\w+)*))?$`

See it working on regex101: https://regex101.com/r/IvCACP/3 (note: only leave one line in the test area that you want to test, there's some issue with multi-lines in the tester)

[2018-09-26 08:17] bbottema commented on #27
Any chance you will include this in a release soon, @dnault? I'm stuck on a SNAPSHOT I built on my laptop and I just found out on a different location I am missing that snapshot in my local repo :P It's all ready in the pull request

[2018-09-26 08:19] bbottema commented on #25
Same remark as #27. Any chance on a release for this?

[2018-09-26 19:02] dnault commented on #27
Sure, will review and try to get a release out shortly. Thanks for this!

[2018-09-27 18:10] bbottema commented on #20
Actually, I've had success finding the class and even Methods from `@link` references by using my other open source library, [Java Reflection](https://github.com/bbottema/java-reflection). It's become quite advanced, here's how I use it in my Simple Java Mail spike regarding your library:

[code]

[2018-09-28 06:12] joffrey-bion commented on #20
This looks like it requires you to know the package/root package of the class. In a generic tool generating a documentation, you can't expect every reference to have the same root package name.

How do you solve this problem if runtime-javadoc doesn't provide the information?

[2018-09-28 06:19] bbottema commented on #20
As the comment in the code says, there are variations, including one that does a full scan on all packages (but this can result in the wrong Class that happens to have the same name).

True, for me it only works because I already know the package it should be in. If it was included in Therapi, that would be impossible.

I used to use runtime-retention annotations, which is a *lot* of manual work i

[2018-10-04 00:53] dnault commented on #27
@bbottema Version 0.8.0 is released, should be available in Maven Central shortly (10 to 30 minutes, usually)

[2018-10-04 00:53] #27 closed

[2018-10-04 00:54] #25 closed

[2018-10-04 08:48] bbottema opened #28 "{@value ...} is not parsed properly but rather as a generic @tag with only name and value"
Similarly to {@link}, {@value} can reference a member implicitly (#field) or through explicit Class reference (ClassName#field). At the same time, when Class reference is missing, it should default to the 'owning' class just like how `{@link}` is processed.

The following regex demonstrates the valid scenario's: https://regex101.com/r/KhEo62/3

[2018-10-04 09:12] bbottema opened #30 "Released versions don't included Javadoc and/or sources jar"
It seems Javadoc and/or Sources jars are not included in the release to Maven Central. Because of this, when inspecting classes and methods in IntelliJ, all documentation is missing.

I don't know how it works in Gradle, but in maven the following would solve the issue:

[code]
This causes maven to also generate standard jars for javadoc and sources which are automatically included in the deploy p

[2018-10-04 09:16] bbottema commented on #30
Nevermind, I just noticed in the sources that I don't see the documentation, because there is none in a lot of places :D I see the documentation in _CommentFormatter_ just fine though. Closing issue.

[2018-10-04 09:16] #30 closed

[2018-10-04 09:18] bbottema commented on #20
Then in conclusion: unless you can get access to the actual source, there's no way to infer the packages.

[2018-10-04 10:22] joffrey-bion commented on #20
@bbottema Indeed, that's why I believe therapi-runtime-javadoc should add this piece of info during annotation processing, since it has access to the source at that moment

[2018-10-04 19:53] bbottema opened #31 "Comment elements should have a reference to the previous element"
Currently it is impossible to perform context-based formatting, because while formatting a CommentElement, we don't have access to the entire comment structure. For example, in formatLink(..), I would like to perform different kind of formatting based on the preceding CommentElement, which is now impossible.

This can be solved in two ways:
1. Add a field in CommentElement: `private final CommentE

[2018-10-05 05:28] dnault commented on #31
I don't see `CommentFormatter` as a core part of the library; its purpose is primarily to get people thinking about how they want to handle inline tags, and to provide simple default behavior.

My preference would be to leave `CommentElement`s as they are, and to encourage users with advanced rendering requirements to write custom formatters that don't necessarily extend `CommentFormatter`. Is tha

[2018-10-05 09:06] bbottema commented on #31
Well, that's kind of my point: I'm extending CommentFormatter because I have advanced rendering requirements, but because of the chosen collection structure (`Comment implements Iterable<CommentElement>`), I'm unable to access other data inside the formatting functions as defined by CommentFormatter.

Unless I do the following:

[code]
But if instead the Comment structure itself was a little more

[2018-10-05 15:16] bbottema commented on #31
In fact I am recursively invoking format() from within a format call and this global Comment field is overwritten in the recursive call (I'm including certain referenced documentation from methods `{@link}ed}` and the javadoc included from those methods are formatted as well).

In order to fix it now I have to create a new instance for each formatting needed or use a Stack or ArrayDeque to push an

[2018-10-14 19:29] bbottema opened #32 "@see (seeAlso) not implemented for Methods?"
I went through the code quickly, but is my understanding correct that `@see` parsing is not implemented for Method Javadoc? In runtime I do see the tag under _other_ with name "see" and value _CommentText_ rather than _InlineLink_.

![image](https://user-images.githubusercontent.com/2115718/46921095-64cf9e80-cff7-11e8-9691-7dad2e2b9d17.png)

This is unfortunate, since the [rules for `@see`](https:

[2018-11-23 00:02] #28 closed

[2018-11-23 00:02] #32 closed

[2019-12-18 21:49] bbottema opened #33 "I just thought you should know"
I just thought you should know that I've just released [Simple Java Mail 6.0.0-rc1](https://github.com/bbottema/simple-java-mail#latest-progress), which includes [CLI support](http://www.simplejavamail.org/cli.html#navigation) based on your library. How? Because Simple Java Mail generates CLI options (using the excellent [picocli](https://picocli.info/)) using the embedded Javadoc as usage documen

[2019-12-18 22:10] dnault commented on #33
Hey Benny, that's awesome! Congrats on the release!

[2019-12-18 22:10] #33 closed

[2020-07-01 05:25] chikochavda opened #34 "Each time i try to get java doc , It returns Empty java doc, I am using this Code"
`package com.ps.apps.utility.docgenerator;

import java.io.IOException;
import java.util.Collections;
import java.util.List;
import java.util.Map;

import com.github.therapi.runtimejavadoc.ClassJavadoc;
import com.github.therapi.runtimejavadoc.CommentFormatter;
import com.github.therapi.runtimejavadoc.MethodJavadoc;
import com.github.therapi.runtimejavadoc.OtherJavadoc;
import com.github.therapi.r

[2020-07-02 18:16] dnault commented on #34
It sounds like the `therapi-runtime-javadoc-scribe` annotation processor is not executing.

If this error is occurring in an IDE, you might need to configure your project to enable annotation processing.

If the error occurs when you project is built by Maven, you might have to include the annotation processor in a different way. Instead of declaring `therapi-runtime-javadoc-scribe` as a `provided

[2020-07-05 16:09] chikochavda commented on #34
Hi thanks for the help,

I checked out link you provided and tried to configure it but it didn't work, I was thinking may be i can strip down code to generate json file

Here is my code for for pom.xml
Code was not formatted when direcctly posted here, so i used txt file. I think my issue is with annotation process class which used in plugin, May be i am wrong.

In alternate solution i have create

[2020-07-05 18:18] dnault commented on #34
1. Are you compiling your project with GraalVM?

2. Can you provide an [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) I could use to diagnose the problem? (Like, a self-contained project that I could compile and run).

[2020-07-05 18:42] chikochavda commented on #34
I am using GraalVM in my project for templating programmable js to java conversion, I will need some time to product Reproducible example for my project, I will get right on it to and provide you github link.
Thanks

Update :

I have added my code here

https://github.com/chikochavda/therapi-runtime-javadoc-scribe-base-example-demo.git

[2020-07-17 18:19] jhameier commented on #34
I'm having a similar issue. Tried both as a standard maven dependency and in the compiler-plugin as well.

Attaching a stand alone example

pom.xml
[code]

Example class reader

[code]

[2020-07-18 05:20] dnault commented on #34
Hi @jhameier, thanks for the example code! It looks like the annotation processor does the wrong thing for a nested class whose enclosing class lives in the default package.

Can you confirm it works if you either move JavadocReader into a package, or make TestClass a top-level class?

[2020-07-18 05:52] dnault commented on #34
Hi @chikochavda, sorry for the delayed response; I didn't notice you updated your comment with a link to a GitHub repo. Thanks for that link!
It looks like `spring-boot-maven-plugin` doesn't support configuring annotation processors? At least I wasn't able to figure it out this evening. Instead you can add the annotation processor as a "provided" dependency, like:

    <dependency>
        <groupI

[2020-07-18 12:27] jhameier commented on #34
Okay so that does work. Would you like me to move my question and open a new ticket for inner classes?

[2020-07-18 23:34] dnault commented on #34
@jhameier Yes, please. That would be helpful.

[2020-07-19 10:20] chikochavda commented on #34
Hi Dnault, I seems like i had to run package command before i get my application up, it seemed to work, I was able to make it work, Finally it's integrated in my app. Thanks for your help :)

[2020-07-19 10:20] #34 closed

[2020-07-19 18:58] jhameier opened #35 "Can't get Javadoc for nested class in default package"
Inner classes in the default package as the JavaReader fails to the return a valid comment from the javadoc.

Attaching a stand alone example

pom.xml
[code]

Example class reader

[code]

_Originally posted by @jhameier in https://github.com/dnault/therapi-runtime-javadoc/issues/34#issuecomment-660267335_

[2020-07-19 19:03] jhameier commented on #35
So further testing shows that if the reader is in a package it does read the javadoc of the inner class

[2020-07-19 19:07] jhameier commented on #35
As a side note, I also confirmed that using either the annotation processor paths tag or the dependency tag in the pom both work!

[2020-07-19 19:46] dnault commented on #35
Thanks for reporting this. Fixed in 0.10.0, which is now up on Maven Central.

[2020-07-19 19:46] #35 closed

[2020-07-19 20:12] jhameier commented on #35
Thanks. Tracking down another issue with JsonJavadocReader throwing AssertionError; as soon as I can determine what is actually causing the issue is I will open a new ticket.

[2020-07-20 02:08] jhameier opened #36 "Reader throws AssertionError when parsing malformed @see tag"
So I found that using an @see tag will fail to match the the linkPattern in the LinkParser class if it contains a period at the end.

This may not necessarily be a bug since I don't believe that a comment type tag should end in a period, though the documentation is somewhat sparse and other tag types do not fail but I'm pointing this out for good measure.

[code]

[code]

[2020-07-20 04:12] dnault commented on #36
Thank you for tracking this down and reporting the issue.

That `@see` tag with the dot at the end is malformed. Here's the specification for a valid `@see` value: https://docs.oracle.com/javase/7/docs/technotes/tools/windows/javadoc.html#see

Even though it's malformed, the reader probably shouldn't throw an exception. Perhaps the scribe should log a warning for invalid tags, and either omit the

[2020-08-12 12:56] jhameier opened #37 "No javadoc created from constructors."
Found that there is no way to pull the javadoc from a constructor.

Test Class:
[code]

Driver:
[code]

Output
[code]

[2020-08-14 16:55] jhameier opened #38 "@Code tag doesn't always get reformatted"
I noticed when running the formatter over a doc with slightly different code blocks that some appear to get formatted with `<code>` tags and others do not.

The driver:
[code]

The Test file:
[code]

The output:
[code]

[2020-08-14 18:10] jhameier commented on #38
On an aside in intellij

![image](https://user-images.githubusercontent.com/2539339/90279818-dff27d80-de37-11ea-8276-ec0759f8f90d.png)

[2020-08-15 18:17] dnault commented on #37
Hi John, thanks for reporting this. It seems like a reasonable feature request.

One way to expose it would be to add a `getConstructors()` method to `ClassJavadoc`. It could probably return a `List<MethodJavadoc>` since there's not much difference between a Constructor and a regular method as far as Javadoc is concerned.

Out of curiosity, what is the use case for reading constructor Javadoc?

[2020-08-15 18:32] dnault commented on #38
Regarding the aside, the `JsonObject` class marked in red is part of the Minimal-Json library that is bundled and repackaged with the reader. The Gradle "shadow" plugin is relocating the dependency classes, but doesn't update the sources. See https://github.com/johnrengelman/shadow/issues/41

Not much we can do about that, short of switching to Maven or undertaking the huge effort of enhancing the

[2020-08-15 18:35] dnault commented on #38
Hi John, Thanks for reporting this. I have a hunch the code that parses the "{@code ...}" inline tag does not expect a line break within the tag. I can take a look.

[2020-08-15 18:40] dnault commented on #20
I took another look at this recently, and it seems like there's no standard way to access the full source code of the class being compiled... so we can't just grab the imports. One strategy would be to walk the element tree as described in https://stackoverflow.com/questions/14734445/java-annotation-processing-api-accessing-import-statements  to get the set of all referenced classes. This has at l

[2020-08-15 18:47] dnault commented on #37
Hi John, would you be interested in submitting a pull request, either for this or #38 ?  (I just want to give you an opportunity to contribute if that's something you want to do.)

[2020-08-15 21:58] jhameier commented on #37
Yes that what I was thinking/hoping that it would be an easy fix since there is no real difference between a Ctor and Method javadoc.

We develop a dynamic aircraft simulator and optionally loaded classes are used to enhance the simulator capabilities depending on customer needs. There could be multiple constructors that are used to instantiate a single Optionally loaded class so there is a need t

[2020-08-15 22:04] jhameier commented on #38
Yea, but strange thing is that both @code tags have a line break after them but the first doesn't get changed and the second one does.  It also removes the line break when it changes the @code tag to the <code> tag.

[2020-08-16 19:45] dnault commented on #37
Very cool, sounds like you're working on an interesting project!

Turns out you were correct! The next release will support constructor javadoc. Release date is TBD (I want to see if it makes sense to address #38 in the same release) but should be within a few days.

[2020-08-16 19:45] #37 closed

[2020-08-16 21:54] #38 closed

[2020-08-16 22:23] dnault commented on #36
Fixed by dropping malformed tags.

[2020-08-16 22:23] #36 closed

[2020-08-16 22:45] dnault commented on #37
@jhameier Version 0.11.0 is live on Maven Central with fixes for all of the issues you reported so far. Thanks for pushing this project forward.

[2020-08-26 20:05] elaineSaijan commented on #37
Hello @dnault
I am running into this error below. It parses my class and parses it into json the docs, methods, even enums,  but the input stream does not read in my constructors which causes this error. Would it be possible to modify the readMethodDocs function to ignore if the methods JsonValue methodsValue == null or something like that?

[code]

[2020-08-26 20:11] jhameier opened #39 "Retain only javadoc from classes that have the @RetainJavadoc or some other annotation"
So things have been working fairly well and of course like most development work there is feature creep. I've been asked to run the javadoc reader as a maven plugin. I thought okay shouldn't be that big of a deal, moved the reader and markdown generation code to a new project and included the primary jar with the have the generated json files). So far so good.

Then I realized that I'm getting a j

[2020-08-26 20:27] elaineSaijan commented on #37
this is an example of the json doc produced for a class, as you can see there is no field called "constructor":
`{"doc":" test javadoc","fields":[{"name":"var1","doc":" test javadoc"},{"name":"var2","doc":" test javadoc"}],"enumConstants":[],"methods":[]}`

[2020-08-26 20:30] elaineSaijan opened #40 "Error while creating ClassJavadoc - with class constructors"
Hello @dnault
I am running into this error below. It parses my class and parses it into json the docs, methods, even enums, but the input stream does not read in my constructors which causes this error. Would it be possible to modify the readMethodDocs function to ignore if the methods JsonValue methodsValue == null or something like that?

[code]

[2020-08-26 20:30] elaineSaijan commented on #40
this is an example of the json doc produced for a class, as you can see there is no field called "constructor":
`{"doc":" test javadoc","fields":[{"name":"var1","doc":" test javadoc"},{"name":"var2","doc":" test javadoc"}],"enumConstants":[],"methods":[]}`

[2020-08-26 20:43] dnault commented on #39
Hi John,

Sure, you can pass a bogus package name like `-Ajavadoc.packages=none` (there's nothing special about the value "none" -- it's just a top-level package that doesn't exist).

Alternatively, if you don't need the Javadoc once you've create your markdown, maybe you could strip all of the Javadoc JSON files from the JAR?

I'm not positive, but I *think* you can use `@RetainJavadoc` as a meta

[2020-08-26 20:46] dnault commented on #40
Hi Elaine,

Shucks, this looks like a regression in version 0.11.0. I'll take a look. In the meantime, if you don't need constructor Javadoc, it should be safe to downgrade to 0.10.0.

[2020-08-26 20:54] jhameier commented on #39
Those could certainly be work arounds for this project. I will take a look at this and let you know but it certainly looks promising.

[2020-08-27 19:56] elaineSaijan commented on #40
would it possible to added a "type" field for the fields in the class and get their variable type? - might be helpful for nested class types so people can get javadoc for the nested classes, as required.

[2020-08-27 22:55] dnault commented on #40
Field type information is already available via the [Reflection API](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#getDeclaredField-java.lang.String-)... does that meet your needs?

[2020-08-28 00:32] dnault commented on #40
@elaineSaijan I'm having trouble reproducing this issue. Are you able to share the source code for a class that causes problems when you try to read its Javadoc?

[2020-08-28 12:28] elaineSaijan commented on #40
this is the example class -
 /**
*test
*/
public class className {
 /**
*test
*/
  private String var;
 /**
*test
*/
  public className() {
    this.var= null;
  }
 /**
*test
*/
  public BaseJavaDocInfo(String var) {
    this.var = var
  }
 /**
*test
*/
  public String getVar() {
    return var;
  }
}

[2020-08-28 21:34] jhameier commented on #39
This works out fine. And this is an acceptable use. While its not a property it still value based and can be documented as what it is doing, so I think this is all good!

Yes this also works out nicely. I was able to reduce the jar size by almost 12 MB when including all the javadoc down to to 0.20 MB with just the optional class javadocs! Very significant savings.

[2020-08-28 21:34] #39 closed

[2020-09-12 05:43] kirkch opened #41 "Constructor javadoc is missing when there is no class level java doc"
During testing, I noticed that I could retrieve the constructor java docs for

    /**
     * abc
     */
    public static class A {
        /**
         * Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         */
        public A() {}
    }

but not for

    public static class A {
        /**
         * Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         */
        publ

[2020-09-13 16:26] kirkch opened #43 "@see on fields appears under other"
For classes, methods, and constructors the @see javadoc tag gets separated out into BaseJavadoc.seeAlso;  however with fields it gets left in 'other' and 'seeAlso' remains empty.

[2020-09-13 21:55] #41 closed

[2020-09-14 01:06] #43 closed

[2020-09-14 04:34] kirkch commented on #21
I am picking this one up - I cannot find an 'assign to me' option, so I am marking it as a comment.

[2020-09-14 06:49] kirkch commented on #20
What is the latest thinking here?   I see within the code base that we have `ImportUtils.getImports` which falls back to the compilers AST and strikes me as a very pragmatic way of moving forward given the lack of support within the annotation processor itself.

I quickly spiked wiring that up to scribe and added its results to the output Json.  It appears to work pretty well and looks like a good

[2020-09-14 09:42] kirkch commented on #31
Has a decision been made on this issue?  If we are not adding the request then this issue should be closed.  If we are adding it, then I am happy to help make it happen too.

When I needed to format the comments, I went the way of creating my own formatter and did not extend the existing one.  I just used the existing one for reference to help me figure out what to do.  One thing that would have h

[2020-09-15 23:38] dnault commented on #20
@kirkch Sounds good, you have a green light.

[2020-09-15 23:41] dnault commented on #31
@kirkch If you'd like to rework the comment formatter to use the visitor pattern, that would be a nice improvement.

[2020-09-19 15:01] kirkch opened #47 "Add visitor pattern to Comment and CommentElements"
As discussed in #31 .  The advantage of this pattern is that it removes the need for using instanceof within the CommentFormatters.

[2020-09-19 15:08] kirkch commented on #47
This is the last of the PRs that I have for the time being.  Let me know if there is anything else that I can help with.  Once they have all gone in, please consider a release candidate.

[2020-09-19 15:12] kirkch commented on #31
VisitorPattern done.  It does not address the request in this issue directly, but it will make it easier for people to create and maintain their own formatters.

[2020-10-03 10:44] kirkch commented on #20
@dnault I appreciate that you are busy and things may have slipped your mind;  these PRs are a couple of weeks old now.  Any chance of getting some feedback on them?

[2020-10-03 20:04] dnault commented on #20
@kirkch You're right, sorry it took me so long, and thanks for the reminder. I'll add some feedback.

[2020-10-03 20:11] #21 closed

[2020-10-17 20:55] #47 closed

[2020-10-17 21:02] dnault commented on #31
Marking this as resolved, due to the CommentVisitor enhancement in https://github.com/dnault/therapi-runtime-javadoc/pull/48

[2020-10-17 21:02] #31 closed

[2020-10-17 21:06] dnault commented on #40
Can't reproduce the issue. Perhaps it was caused by using the new runtime classes with a JSON generated by a previous version of the scribe? In any case, please feel free to create a new issue if it's still happening in a clean build.

[2020-10-17 21:06] #40 closed

[2020-10-18 04:59] dnault commented on #47
Hi @kirkch , I noticed you closed the link import PR; sorry I wasn't quick enough on that one. Thank you for doing the pathfinding.

In the mean time, version 0.12.0 with your other changes is live on Maven Central. Cheers!

[2020-10-18 06:21] kirkch commented on #47
Wonderful news re 0.12.0 going out.

It would be good to see the import resolution work complete at some point.
I am having an operation on Tuesday which will take me out of commission
for a while, and I expect that my backlog of other life business will keep
me fully booked into the new year.  In which time I am hoping that somebody
will figure out how to resolve imports during the compiler phase

[2020-10-19 01:23] dnault commented on #47
@kirkch Good luck with the operation; here's wishing for a speedy recovery.

[2020-12-01 21:46] magdel opened #49 "Remove external dependencies at all"
https://github.com/dnault/therapi-runtime-javadoc/blob/584558dd2fee1ccda5528d66b70b949243356515/build.gradle#L20

Hello! I just wonder if it is possible to remove dependency at all and have nice pure Java library.

[2020-12-01 22:55] dnault commented on #49
Hi Pavel,

I'm not sure I see the benefit of implementing our own JSON library.

The `minimal-json` library is shaded/shadowed into the therapi-runtime-javadoc JAR, repackaged to avoid any possible dependency conflicts:

https://github.com/dnault/therapi-runtime-javadoc/blob/584558dd2fee1ccda5528d66b70b949243356515/build.gradle#L27-L31

From a user's perspective, the therapi-runtime-javadoc librar

[2020-12-01 22:55] #49 closed

[2020-12-04 08:06] magdel commented on #49
@dnault , thank you.

[2021-06-03 20:32] bbottema opened #50 "RuntimeJavadoc.getJavadoc(Method) fails if parameter has annotation"
I'm on 0.9.0 and since I'm heavily relying on all the api and quirks from that version I'm not ready to upgrade until I'm on Java 8.

However, the following simply stops returning data, Everything works fine when compiled with Java 1.7, but is completely empty when compiled with Java 1.8 (and not just params, but _everything_):

![image](https://user-images.githubusercontent.com/2115718/120708161-

[2021-06-03 20:48] bbottema commented on #50
I know the annotation processor _is_ being executed, because the following _does_ yield data:

`RuntimeJavadoc.getJavadoc(m.getDeclaringClass())`

After digging a little deeper, it looks like matching Method to the right MethodJavadoc doesn't work properly anymore. In RuntimeJavadoc.findMethodJavadoc, `methodJavadoc.matches(method)` evaluates to false on when it should be true. It seems the parame

[2021-06-03 21:07] bbottema commented on #50
It seems under Java 8, the NotNull annotations are not included in the toString for the parameter anymore, causing your equals check to fail.

[2021-06-03 21:20] bbottema commented on #50
And just to be sure, I checked this specific spot in Java 7:

![image](https://user-images.githubusercontent.com/2115718/120713497-47aaaf80-c4c2-11eb-9b0a-be385fd38559.png)

As you can see, it's fine again.

[2021-06-03 21:26] bbottema commented on #50
As a quick fix, I would suggest simply discarding everything except the part after the last ":: " and match on that.

[2021-06-03 21:58] bbottema commented on #50
After some hacking (inlining your methods into my code), I fixed it by as follows:

[code]

[2021-06-08 19:13] dnault commented on #50
Hi Benny, congrats on the migration to Java 8!

Thank you for the detailed report and workaround. I'll take a look.

[2021-11-07 09:25] elect86 opened #51 "error: module not found: therapi.runtime.javadoc"
As titled, I'm trying to get therapi-runtime-javadoc working in a Gradle multiproject with JPMS

The problematic module is [scijava-discovery-therapi](https://github.com/elect86/incubator/tree/scijava/scijava-function/kotlin/scijava/scijava-discovery-therapi)

I added [the dependencies](https://github.com/elect86/incubator/blob/scijava/scijava-function/kotlin/scijava/scijava-discovery-therapi/disc

[2021-11-08 18:52] dnault commented on #51
Hi Giuseppe,

therapi-runtime-javadoc targets Java 7, and doesn't include any module descriptors, so I'm afraid I don't know where the "therapi.runtime.javadoc" module is supposed to come from. Have you asked the scijava developers?

Thanks,
David

[2021-11-08 21:38] elect86 commented on #51
Hello David,

I guess this could/should be the default module name in case there is no `module-info.class` and isn't targetting jdk9+..

Uhm, I can give it a try and see if with a refresh (latest gradle + kts) this works, also I could provide a PR if you interested

[2021-11-15 07:40] xeals opened #52 "Support record classes in annotation processor"
Record classes are unmodifiable data class introduced in Java 16 and included in the recent LTS version Java 17. Since records are a new syntax for Java, they generate an `ElementKind.RECORD` AST element instead of `ElementKind.CLASS` and are not supported by the current visitor.

Javadoc for a record is the same as a regular class, except it may include `@param` fields referring to record compone

[2021-12-26 12:26] bbottema commented on #50
Any ETA known yet? I have a workaround, but it doesn't look very pretty in my code base...

[2021-12-26 20:45] dnault commented on #50
Thanks for the ping. Will look into it over the holiday break and keep you posted.

[2021-12-26 23:09] dnault commented on #50
@bbottema I could not run the simple-java-mail test suite. I tried adding an annotation to one of the methods in the
therapi-runtime-javadoc 0.9.0 unit tests, but could not reproduce the problem.

Does the issue remain in therapi-runtime-javadoc 0.12.0? The parameter matching code has changed a bit since 0.9.0.

[2021-12-26 23:31] bbottema commented on #50
I'm not able to test it as the upgrade breaks my `ContextualCommentFormatter` subclass. Can you point me in the right direction on how to migrate my code?

[2021-12-26 23:33] bbottema commented on #50
If you reset the Simple Java Mail repo to commit `9f6d59eb607bcb0edb136effd2bffc41d00c2eed "Merge remote-tracking branch 'origin/master' into develop"`, which is on the _develop_ branch), you should be able to reproduce the issue with `mvn clean test` (running with JDK 1.8 just to be sure) if you revert to the native behavior (removing my workaround).

Just checked it and this reproduces the error

[2021-12-29 10:42] bbottema opened #53 "Version 0.11.0 introduced a bug in usage formatting (missing character escapes)"
Version 0.11.0 introduces bug.

I'm printing the usage of a command, which works fine up until 0.10.0, but breaks in 0.11.0:

[code]
Which results in:

![image](https://user-images.githubusercontent.com/2115718/147653945-8487d606-19d1-4918-9e84-b1b6c5935b0a.png)

Please let me know if you need anything else. It's not trivial though to show you how the command is produced in my code, which is all a

[2021-12-29 10:47] bbottema commented on #53
I suspect this is because the source string contains a % which should be escaped by your library:

![image](https://user-images.githubusercontent.com/2115718/147654369-0e24a355-0dc1-4c6d-a200-28978f9b4e5b.png)

Indeed in older versions this is escaped properly:

![image](https://user-images.githubusercontent.com/2115718/147654681-b5708bd8-2cf0-443b-9bc1-01cf3be5e2fe.png)

For completion sake, here

[2021-12-29 10:54] bbottema commented on #50
Oops. So anyway I can't upgrade to 11 because of https://github.com/dnault/therapi-runtime-javadoc/issues/53 and I can't upgrade to 12 (yet) because of breaking API changes.

[2021-12-29 11:21] bbottema commented on #47
@dnault, @kirkch, I have an elaborate (and stateful) `ContextualCommentFormatter` subclass which doesn't compile anymore with this change, but I have no idea how I'm supposed to replace that with the new pattern.

Can we have some migration notes, or a little bit more elaborate example?

[2021-12-29 20:08] dnault commented on #47
@bbottema The most straightforward path would be to copy the source code of `CommentFormatter` from 0.11.0 into your own project and extend that instead.

[2021-12-29 20:24] dnault commented on #53
I cannot reproduce the reported behavior of `%` being escaped as `%%` in 0.9.0 or 0.10.0. Could it be something the custom comment formatter was doing?

The percent character (%) has no special meaning in Javadoc or HTML. The library has no way of knowing the comment will be passed to String.format(), so escaping `%` by replacing it with `%%` is the application's responsibility.

[2021-12-29 20:24] #53 closed

[2021-12-29 20:31] dnault commented on #50
If you'd rather not adopt the visitor pattern changes in 0.12.0, I would recommend copying the source code from `CommentFormatter` code into your source code and extending that version instead. I'm pretty sure the changes to the `CommentElement` subclasses are minor, and you can ignore the new visit method.

[2021-12-29 20:41] dnault commented on #50
If you're able to reproduce the problem after upgrading to the latest version, please reopen this issue. In the meantime, the workaround you have in place is likely the best solution, given that any bug fixes will only go into the latest version.

Incidentally, I apologize for not doing a better job of documenting the breaking the changes and providing migration tips. I'll try to do a better job o

[2021-12-29 22:07] dnault commented on #51
Hello Giuseppe,

Apologies for the late response. Did you figure this out? If a change to the library is required, a PR would indeed be welcome.

Thanks,
David

[2021-12-30 09:32] bbottema commented on #50
You're not getting rid of this so easily ;)

Ok, this works and my code doesn't break anymore. This bug however persists in 0.12.0. **The annotation reflection just works differently in Java 8 and this library doesn't properly pick up on it anymore.**

My quickfix at the beginning of the thread looks like a lot of code, but that's because I had to copy a lot in order to do a small tweak (in the 0.

[2021-12-30 10:01] bbottema commented on #50
Just to show you what I get under 0.12.0:

The method at debug execution point:

![image](https://user-images.githubusercontent.com/2115718/147741556-4339ab12-205d-45ad-a457-bc6c8a2f0f9a.png)

![image](https://user-images.githubusercontent.com/2115718/147741693-73e27687-73ae-4374-8937-604876a1d25c.png)

The Therapi result under 0.12.0 without fix:

![image](https://user-images.githubusercontent.co

[2021-12-30 10:30] bbottema commented on #53
I found the issue and indeed it's on my side. I escape %s so that it works with Picocli (CLI library), but Therapi calls formatting methods a little differently from 0.9.0 and later versions.

For example `Some sentence {@code blah} rest of sentence.` is formatted completely as a _CommentText_ _renderText()_ (if you replace the code element manually, which I do), but in later versions I suppose th

[2021-12-30 10:35] bbottema commented on #53
Almost, I can leave out `{@code xxx}` but not `<code>ccc</code>`. Why are these treated differently?

I understand that these are different Javadoc constructs from a syntax point of view, but from user perspective they should be treated equally, no?

[2021-12-30 11:17] bbottema commented on #50
So I spend some more time after all to reproduce my fix in 0.12.0. Please see pull request https://github.com/dnault/therapi-runtime-javadoc/pull/55.

[2021-12-30 16:59] dnault commented on #50
Thanks for sticking with this. Reopened, and I'll try to reproduce this again.

[2021-12-30 18:36] dnault commented on #50
# Symptoms

Depending on the JDK vendor and version, you might see:

* RuntimeJavadoc.getJavadoc(Method) returns an empty MethodJavadoc if the method has an annotated parameter, and the annotation has a target of TYPE_USE.

* When iterating over the methods in a ClassJavadoc, the annotation names can leak into the strings returned by MethodJavadoc.getParamTypes().

# Root Cause Analysis

In `JsonJ

[2021-12-30 19:46] dnault commented on #50
A quick and safe fix would be to bundle JavaPoet (like we do minimal-json) and use its TypeName class

[code]

[2021-12-30 19:51] bbottema commented on #50
Reminds me of [ByteBuddy](https://bytebuddy.net/#/), which I've used in the past to generate java classes and methods in runtime. It has a very similar builder style api.

I agree, including JavaPoet's class is probably our best bet, rather than trying to solve it again ourselves.

[2021-12-30 20:59] dnault opened #56 "Require Java 1.8 or later"
@bbottema I'd like to drop support for Java 1.7 so we can take advantage of Gradle toolchains and bump a couple of dependency versions. Are you ready for this?

[2021-12-30 21:27] bbottema commented on #56
Yes, go for it!

[2021-12-30 21:39] bbottema commented on #50
Looking at JavaPoet's TypeName class, I'm not sure how it solves our problem. Basically I'm unable to understand how it relates to our problem at all, but that's probably entirely on me...

[2021-12-31 05:24] #56 closed

[2021-12-31 16:11] elect86 commented on #51
Hey,

no problems.

At the end it was a limitation/natural behavior due to the JPMS and Gradle interaction

[2021-12-31 16:11] #51 closed

[2021-12-31 23:16] dnault opened #57 "Don't duplicate minimal-json classes"
minimal-json gets bundled into both the runtime library and the annotation processor.

In both cases, it's relocated to the same package. This leads to duplicate classes on the class path, which is no good.

See if the annotation processor can just use the version in the runtime library. If we can't make that work, then relocate to different locations.

[2021-12-31 23:32] #57 closed

[2021-12-31 23:34] dnault commented on #57
Since the annotation processor depends on the runtime library (which already includes a repackaged minimal-json), minimal-json doesn't need to be repackaged in the annotation processor.

[2022-01-01 00:03] dnault commented on #50
Here's a snapshot with the fix, if you want to try it out:

version: `0.13.0-SNAPSHOT`

Maven snapshot repository URL: `https://oss.sonatype.org/content/repositories/snapshots/`

The release version of 0.13.0 will go out in a day or so, assuming I can navigate the publication process.

[2022-01-01 00:03] #50 closed

[2022-01-01 00:10] bbottema commented on #50
It's 01:00 AM where I live so I'll probably catch the release proper :)

Btw, happy new year!

[2022-01-01 00:11] dnault commented on #50
Happy New Year!

[2022-01-01 13:40] bbottema commented on #50
I just finished testing with the snapshot and all seems to work fine now. Great! Just waiting for the release now.

[2022-01-01 23:11] dnault opened #58 "Empty MethodJavadoc for constructors has wrong method name"
The method name for a constructor should always be "<init>", not the class name.

[2022-01-01 23:16] #58 closed

[2022-01-01 23:46] dnault opened #59 "@see on classes appears under other"
When a "@see" tag is present on class-level Javadoc, it should be exposed in the ClassJavadoc.getSeeAlso(). Instead, it's returned as an "other" tag.

Related to #43 where we fixed this for everything except ClassJavadoc.

[2022-01-02 00:33] dnault opened #60 "Enhanced support for record classes"
Implement the features suggested by @xeals in #52:

- The class docs could be re-applied to the primary constructor, which can be determined by the `GENERATED` or `RECORD` flags set on the method (which I think is specified, but I can't find the exact mention in the JVM spec)
- `@param` tags from the primary constructor could be applied to the fields and/or methods

[2022-01-02 00:34] dnault commented on #60
@xeals Do you have any more hints about how to identify the canonical constructor? I couldn't sniff out the flags you mentioned.

[2022-01-02 00:38] dnault commented on #52
The 0.13.0 release will add basic support for records. Record class docs will be retained, as well as docs for secondary constructors and other methods and fields defined in the record.

There will also be a new method `ClassJavadoc.getRecordComponents()` that returns any `@param` tags from the class docs.

I filed #60 for attaching docs to the canonical constructor and generated component accesso

[2022-01-02 00:47] #59 closed

[2022-01-02 00:47] #52 closed

[2022-01-02 03:58] dnault commented on #50
Version 0.13.0 is live on Maven Central.

[2022-01-02 04:03] dnault commented on #52
Version 0.13.0 with basic support for records is now live on Maven Central.

[2022-01-04 05:10] xeals commented on #60
I'd not recorded the info when I was playing around (of course), but I rediscovered what I was talking about.

Unfortunately this was found through a debugger and I didn't realise it exposes javac internals, which in JDK16+ are a little harder to access than they used to be (doable, just requiring opt-in flags).

With that in mind:

- the annotation processor gets given instances of `com.sun.tools

[2022-01-04 21:09] dnault commented on #60
Thanks for digging into this again, Alex. I agree we should stick to the public API.

I wonder if we could infer the signature of the canonical constructor by paying attention to the `ElementKind.RECORD_COMPONENT` elements. Kind of like https://stackoverflow.com/a/67126110/611819 . For example, if we see an `int` and a `String`, then we know the the canonical constructor has a signature of `(int,

[2022-03-13 14:08] MarcelCoding opened #61 "Add JavaDoc from interface to implementation"
https://github.com/springdoc/springdoc-openapi/issues/1548

Add the ability to read JavaDoc from the implementation, where the JavaDoc is actually placed at the interface.

[2022-04-25 11:01] Sheikah45 opened #62 "Add Javadoc from overridden method if none exists"
Currently if a method exists with no javadoc that overrides a method in a base class that has javadoc no java doc is returned when specifying the overriding method.

It would be nice if the  overriden method inherited the javadoc from the base method when none exists on itself. As this is the behavior of the javadoc tools provided by oracle.

[2022-05-13 14:34] gebezs commented on #61
I spent some time understanding the issue and this is what I found:
* the javadoc is already extracted by the annotation processor
* it can be solved in the `therapi-runtime-javadoc` module only
* figuring out which method overrides what other or others is hard
  * this [SO answer](https://stackoverflow.com/a/15302411) is the best solution I found so far (no library as far as I know)
  * there are

[2022-05-13 22:03] dnault commented on #62
Thanks for reporting this. I think we can tackle it at the same time as #61, so I will close this as a duplicate.

[2022-05-13 22:03] #62 closed

[2022-05-13 22:04] dnault commented on #61
@gebezs Thank you for the detailed analysis.

Maybe not _impossibly_ hard. It's hard to find out which methods *override* a method (as in that StackOverflow question), but I believe the Reflection API provides all the tools necessary to go the other way (given a method, find out which superclass / interface methods it overrides).

I think you covered everything! Are you interested in working on th

[2022-05-16 03:49] Sheikah45 opened #65 "Preserve Generic type variables and bounds"
In the annotation processor we erase all the type parameters so the param types of methods are limited to their bounds which can be seen on the generic method in Documented Class in #63. However the javadoc tool actually preserves the generic type and bounds.

Do we want to preserve the generic type and bounds in the param types of the retained javadoc?

[2022-05-28 09:22] gebezs opened #66 "Basic support for JEP 413 (Code Snippets in Java API Documentation)"
JDK 18 delivered the `@snippet` tag for javadoc: https://openjdk.java.net/jeps/413

Java 18 Snippet documentation: https://docs.oracle.com/en/java/javase/18/code-snippet/index.html

The JEP 413 supports a wide range of options adding code snippets to the javadoc.
Supporting everything would be overkill:
[code]
I think even a basic support would be a great addition.
#### a, support for inline `@sni

[2022-05-30 12:03] Sheikah45 commented on #65
@dnault what are your thoughts on this?

[2022-06-10 18:47] #61 closed

[2022-06-10 18:58] Sheikah45 commented on #65
@dnault bump, is this worth doing in your mind?

[2022-06-24 21:26] dnault commented on #65
Hi @Sheikah45 . In my opinion, it's only worth doing if you or someone else has a use case for it.

[2022-06-28 04:22] yanxiyue opened #67 "can version 0.14.0 be released?"
"add javadoc from interface to implementation"  feature  which mentioned in issue #61 is very useful.

[2022-07-15 21:32] dnault commented on #67
Released! Should be available on Maven Central shortly.

[2022-07-15 21:32] #67 closed

[2022-07-23 20:31] dnault opened #69 "IllegalArgumentException when getting Javadoc for nested class that has no Javadoc"
Affected version: 0.14.0

[code]

[2022-07-23 20:38] dnault opened #70 "A subclass with no Javadoc does not inherit method docs from superclass"
The code that searches for inherited method documentation was skipping bailing out if the subclass has abosolutely no Javadoc at all.

[2022-07-23 20:44] #70 closed

[2022-07-23 20:46] #69 closed

[2022-07-23 20:48] dnault commented on #69
Thank you to @yanxiyue who initially reported this in PR https://github.com/dnault/therapi-runtime-javadoc/pull/68 ❤️